{% extends "base.html" %}

{% block content %}


  <div id="detail_map"></div>

  {% if campowner == request.user.campowner %}
  <div class="row">

    <div class="col-sm-6">
      <a class="btn btn-primary" href="{% url 'blog:create' %}" >Yeni Blog Oluştur</a>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-primary" href="{% url 'camps:create' %}" >Mekan Ekle</a>
    </div>
    <br><br>
  </div>
 {% endif %}


  {{campowner.name}} <br>
  <form class="" action="{% url 'users:campowner_follow' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="campowner.id" value="
    {% if campowner.id %}
      {{campowner.id}}
    {% else %}
    {% endif %}
    ">

    {% if request.user in campowner.campprofile.followers.all %}
    <button type="submit" class="btn btn-danger">Takibi bırak</button>
    {% else %}
    <button type="submit" class="btn btn-success">Takip Et</button>
    {% endif %}
  </form>

    <!-- FOLLOW TOGGLE BUTTON END -->
    <br><br>
    Blog

  <section >

    <div class="container">
      <div class="widget-boxed-body padd-top-5">

        <!-- FOLLOW TOGGLE BUTTON -->

      </div>

      <div class="row">

        {% for obj in object_list %}
        <div class="col-md-4 col-sm-6">
          <div class="blog-box blog-grid-box">
            <div class="blog-grid-box-img">

              <img src="{% if obj.image %}{{obj.image.url}}{% endif %}" class="img-responsive" alt=""/>

            </div>

            <div class="blog-grid-box-content">
              <div class="blog-avatar text-center">

                <img src="{{obj.user.get_image_url}}" class="img-responsive" alt=""/>

                <img src="" class="img-responsive" alt=""/>

                <p> <span class="theme-cl">{{ obj.user.get_full_name }}</span><strong> Kişi tarafından</strong></p>
              </div>
              <h4>{{ obj.title }} <small> {{ obj.timestampt | timesince }} önce</small></h4>
              <p>{{ obj.content | linebreaks | truncatechars:120 }}</p>
              <a href="{{ obj.get_absolut_url }}" class="btn btn-primary" role="button">Daha Fazla</a>

              {% if request.user.campowner == campowner %}<br><br>
                <a href="{% url 'blog:blog_update' obj.slug %}" class="btn btn-primary" role="button">Düzenle</a>
              {% endif %}
            </div>

          </div>
        </div>
        {% endfor %}


      </div>



    </div>
  </section>

{% endblock content %}
