{% extends "base.html" %}
{% block content %}
{% if object_list %}
<div class="col-12">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Camp Page Name</th>
        <th scope="col">Owner Name</th>
        <th scope="col">Address</th>
        <th scope="col">E-mail</th>
        <th scope="col">Dosya</th>
        <th scope="col">Is Approveled ?</th>
      </tr>
    </thead>
    <form action="{% url 'campowner:accept_or_reject' %}"
      method="post">{% csrf_token %}
    <tbody>
      {% for camp in object_list %}
        <tr>
          <th scope="row">{{camp.name}}</th>
          <td>{{camp.user.get_full_name}}</td>
          <td>{{camp.address}} </td>
          <td>{{camp.user.email}}</td>
          <td>Dosya Gelecek</td>
          <td>
            <button class="btn btn-dark" name="accept" value="{{camp.id}}"
            type="submit"></button>
            <button class="btn btn-dark" name="reject" value="{{camp.id}}"
            type="submit"></button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>
</div>
{% else %}
Bekleyen bir istek yok
{% endif %}
{% endblock content %}
