{% extends "base.html" %}
{% block content %}
  <div class="col-12">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Camp Page Name</th>
          <th scope="col">Owner Name</th>
          <th scope="col">Address</th>
          <th scope="col">E-mail</th>
          <th scope="col">Is Approveled ?</th>
        </tr>
      </thead>

      <form action="#" method="post">{% csrf_token %}
      <tbody>
        <tr>
          <th scope="row">ALİ - BOLU</th>
          <td>ALİ ALİ</td>
          <td>TEST </td>
          <td>TEST</td>
          <td>
            <input type="checkbox" name="inputs" value=""/>
          </td>
        </tr>
        <tr>
          <th scope="row">ALİ - BOLU</th>
          <td>ALİ ALİ</td>
          <td>TEST </td>
          <td>TEST</td>
          <td>
            <input type="checkbox" name="inputs" value=""/>
          </td>
        </tr><tr>
          <th scope="row">ALİ - BOLU</th>
          <td>ALİ ALİ</td>
          <td>TEST </td>
          <td>TEST</td>
          <td>
            <input type="checkbox" name="inputs" value=""/>
          </td>
        </tr><tr>
          <th scope="row">ALİ - BOLU</th>
          <td>ALİ ALİ</td>
          <td>TEST </td>
          <td>TEST</td>
          <td>
            <input type="checkbox" name="inputs" value=""/>
          </td>
        </tr>
      </tbody>

    </table>
    <input class="btn btn-dark btn-right pull-right" type="submit" value="Rejected Selected User">
    <input class="btn btn-dark btn-right pull-right" type="submit" value="Approvel Selected User">
    </form>

  </div>
{% endblock content %}
