{% load l10n %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Maps</title>
    {% load static %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  {% block content %}
  <body>
    <div id="map"></div>

    
     

    
    <script>
        

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: 36.200, lng: 29.639550}
        });

        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

  var markers = locations.map(function(location,i) {
    
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length],
          });

        });
        for( var t= 0; t < markers.lenth; t++){
        google.maps.event.addListener(markers[t], 'click', function () {
        infowindow.content = locationss[t].content;
        infowindow.open(map, this);
        });
        }
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }
        var infowindow;

        var latDB;
        var lngDB;
        var title;
        var contents = [];
        var locations= [];
        var contentString;
        
        {% for e in locs  %}
        latDB = {{e.lat |unlocalize }};
        lngDB = {{e.lng |unlocalize }};
        contentString = '<div id=content>'+ '<p>{{e.title}}</p> '+ '</div> ';
        
        locations.push({lat: latDB,lng: lngDB,content : contentString });
        
       
        {% endfor %}

        
    </script>
   


    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    {% load static %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHbsHWZkLuYDZeEF3zp8Yq_djqNzM_aTM&callback=initMap">
    </script>
  </body>
  {% endblock %}
</html>