{% load static %}
{% with request.resolver_match.url_name as name %}
{% if name == 'login' or name == 'register' %}
{% else %}
<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
      <i class="ti-align-left"></i>
    </button>

    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'assets/img/logo.png' %}" class="logo logo-display" alt="">
        <img src="{% static 'assets/img/logo.png' %}" class="logo logo-scrolled" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">

      <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">

        <!-- <li><a href="{% url 'blog:list' %}">Blog</a></li> -->
        <li><a href="{% url 'campowner:camp_owners' %}">Tüm Kamp Alanları</a></li>
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <li>   <a class="dropdown-toggle"
            href="#"
           id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           Admin Panel</a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="{% url 'campowner:pending_owners' %}">*Bekleyen İstekler</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'ban:stat' %}">*İstatistik</a></li>
              <li><a href="{% url 'users:all_users' %}">*Kullanıcılar</a></li>
              <li role="separator" class="divider"></li>
            </ul>
          </li>

          {% endif %}

          {% if not request.user.campowner %}
            <li><a  href="{% url 'campowner:create' %}">Kamp Sahibi OL!</a></li>
          {% endif %}
        {% endif %}


      </ul>

      <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
        {% if request.user.is_authenticated %}
        <li class="no-pd">
          <a href="{% url 'users:user_detail' request.user.username %}" class="addlist">
            <i class="ti-user" aria-hidden="true"></i>
            Hoşgeldin, {{request.user.get_full_name}}
          </a>
        </li>

        {% else %}
        <li class="no-pd">
          <a href="{% url 'users:login' %}" class="addlist">
            <i class="ti-user" aria-hidden="true"></i>
            Giriş yap
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- End Navigation -->
<div class="clearfix"></div>
{% endif %}
{% endwith %}
