{% extends "base.html" %}
{% block content %}

<section>
	<div class="container">
		<!-- General Information -->
		<div class="add-listing-box translateY-60 edit-info mrg-bot-25 padd-bot-30 padd-top-25">
			<div class="listing-box-header">
				<div class="avater-box">
						<img src="{{object.get_image_url}}" class="img-responsive img-circle edit-avater" alt="" />
				</div>
				<h3>{{object.get_full_name}}</h3>
				<p>{% if object.is_superuser %}Yöneticisi{% else %}Normal Kullanıcı{% endif %}</p>
				<p>
					{% if request.user == object %}
					<a href="{% url 'users:user_update' object.username %}">Profili Güncelle</a>
					{% endif %}
				</p>
			</div>
			<div class="row mrg-r-10 mrg-l-10 preview-info">
				<div class="col-sm-6">
					<label><i class="ti-mobile preview-icon call mrg-r-10"></i>91 258 574 5287</label>
				</div>
				<div class="col-sm-6">
					<label><i class="ti-email preview-icon email mrg-r-10"></i> {{object.email}}</label>
				</div>
				<div class="col-sm-6">
					<label><i class="ti-gift preview-icon birth mrg-r-10"></i>July 17 1990</label>
				</div>
				<div class="col-sm-6">
					<label><i class="ti-world preview-icon web mrg-r-10"></i>
						{% if object.campowner %}
							{% if object.campowner.is_active %}
								<a href="{% url 'campowner:detail' object.campowner.id %}">{{object.campowner.name}}</a>
							{% else %}
								{{object.campowner.name}} (onaylanmadı)
							{% endif %}

							{% else %}
							Kamp sahibi değil
						{% endif %}
					</label>
				</div>
			</div>

			<br>
			<a href="{% url 'users:logout' %}">Logout</a>
			<br>

		</div>
		<!-- End General Information -->
	</div>

</section>


<!--
<a href="{% url 'users:user_delete' object.username %}">Delete</a>
<br>
-->


{% endblock content %}
