<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "includes/css.html" %}
    <title>
    {% block head_title %}
    Campdays
    {% endblock head_title %}
    </title>
  </head>
  <body>

    {% include 'messages_display.html' %}
    <div class="wrapper">
      {% include "includes/nav.html" %}
      <div class="container" style="margin-top:80px;">
        {% block content %}{% endblock content %}
      </div>
      {% include "includes/js.html" %}
    </div>

  </body>
</html>
